body{
background:#222;
color:white;
text-align:center;
font-family:Arial;
}

.card{
margin-top:50px;
padding:20px;
border:1px solid white;
display:inline-block;
transition:0.3s;
}

.card:hover{
transform:scale(1.05);
}